node_modules
**/node_modules

dist
**/dist

.turbo
**/.turbo

.next
**/.next

.git

.env
**/.env

*.log

apps/mobile/build
apps/mobile/.dart_tool

coverage
**/coverage
**/.env.*
!**/.env.example
.runtime
agent-skills
ai-website-cloner-template
BIEM-ONE
codex-plugin-cc*
superpowers-main
*.zip
